div.divWrapper{
	background-color: #bbbbbb;
	font-size: 40px;
	color: black;
	font-family: sans-serif;
	margin-top: 300px;
	
}
body {
	background-color: #2b2b2b;
}
h1{
	font-size: 80px;
	color: white;
	margin-left: 570px;

}